/* ======================
   Yardımcı Sınıflar
   ====================== */

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
}

.flex {
    display: flex;
    gap: 12px;
}

.grid {
    display: grid;
    gap: 12px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Basit aralıklar */
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}